<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="/fragments/resources :: head"></th:block>
    <title>Foto Cover</title>
</head>
<body>
<th:block th:replace="/fragments/navbar :: navbar('foto', '', false)"></th:block>
<div class="container">
    <h1 class="my-4">Aggiungi una foto</h1>
    <form
            id="cover-form"
            method="post"
            th:object="${imageForm}"
            th:action="@{|/photos/${imageForm.photo.id}/cover/save|}"
            class="row gy-3"
            enctype="multipart/form-data"
    >
        <!-- hidden input book -->
        <input type="hidden" th:field="*{photo}">
        <!-- errors -->
        <ul>
            <li th:each="err : ${#fields.globalErrors() }" th:text="${err}"></li>
        </ul>

        <div class="col-6">
            <!-- multipartFile -->
            <div class="col-12">
                <input type="file" id="multipartFile" class="form-control" th:field="*{multipartFile}"
                       th:errorClass="is-invalid">
                <div class="invalid-feedback" th:if="${#fields.hasErrors('multipartFile')}">
                    <ul>
                        <li th:each="err : ${#fields.errors('multipartFile')}" th:text="${err}"></li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="col-6">
            <a class="btn btn-primary" th:href="@{|/photos/${imageForm.photo.id}|}">Cancella</a>
            <button type="submit" class="btn btn-primary">Salva</button>
        </div>

    </form>
</div>

</body>
</html>