<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<!-- alertType: SUCCESS|ERROR|WARNING|INFO -->
<th:block th:fragment="alert(alertType, alertText)">

    <div class="alert alert-dismissible fade show"
         th:classAppend="|${#strings.equals(alertType, 'SUCCESS') ? 'alert-success' : ''}${#strings.equals(alertType, 'ERROR') ? 'alert-danger' : ''}${#strings.equals(alertType, 'INFO') ? 'alert-info' : ''}${#strings.equals(alertType, 'WARNING') ? 'alert-warning' : ''}|">
        <div th:text="${alertText}"></div>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Chiudi"></button>
    </div>

</th:block>
</body>
<body>

</body>
</html>